<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <urlCompression doDynamicCompression="true" />
    <rewrite>
      <rules>
        <clear />

        <rule name="Force HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>

        <rule name="2025 keep public paths" stopProcessing="true">
          <match url="^2025/public/.*" />
          <action type="None" />
        </rule>

        <rule name="2025 root to public index" stopProcessing="true">
          <match url="^2025/?$" />
          <action type="Rewrite" url="/2025/public/index.php" appendQueryString="true" />
        </rule>

        <rule name="2025 paths to public" stopProcessing="true">
          <match url="^2025/(?!public/)(.*)$" />
          <action type="Rewrite" url="/2025/public/{R:1}" appendQueryString="true" />
        </rule>

        <rule name="Serve static files from public and resources" stopProcessing="false">
          <match url="^(?!2025($|/)|public/|resources/)(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="/{R:0}" appendQueryString="true" />
        </rule>

        <rule name="Routing to index.php" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/public/index.php" appendQueryString="true" />
        </rule>

        <rule name="Routing to index.php for dynamic paths" stopProcessing="true">
          <match url="^(?!2025($|/)|public/)(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/public/index.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>

    <staticContent>
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
  </system.webServer>
</configuration>
